
* {
    box-sizing: border-box;
}

header {
  position: center;
  text-align: center;
  color: white;
  transition: .4s;
  background-color: #6488EA;
  opacity: .7;
}

nav a {
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: inherit;
    padding: 1rem;
}

h1 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
    letter-spacing: .5rem;
    color: black;
    margin: 20px 0px;
    height: 30px;
}

h2 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color:#404040;
    
}

h3 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color:#404040;
    margin: 10px 350px;
    background:#ccc;
    border-radius:10px;
}

p {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 1rem;
    color:black;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #6488EA;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 550px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius:10px;
  }
  input[type=text] {
    padding: 12px 20px;
    margin: 8px 500px;
    box-sizing: border-box;
  }
