<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
	<title>BIR Project</title>
	<link rel="stylesheet" href="/static/styles4.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<meta charset="UTF-8">
  <style> 
    body {
      background-color: #F9E8D2;
      height: 80vh;
      background-repeat: no-repeat;
      background-size: cover;
      margin:auto;
    }
    </style>
    <header>
      <h1>HEATING SYSTEM</h1>
      <nav>
        <a href="/logout/">Log out</a>
      </nav>
    </header>
</head>

</head>
<body>
  <h2>Current system mode: {{data.systemMode}}</h2>
  <h2>Current temperature: {{data.currentTempValue}} &deg Celsius</h2>
  <h2>Current level of battery: {{data.currentBatteryValue}} mV</h2>
  <h2>Current level of photovoltaic panel: {{data.currentPanelValue}} mV</h2>
  <br>
 
  <h3> Change system mode </h3>
  <center>
    <form action="/update-system-mode-on">
      <input type="submit" value="On" />
  </form>
  <form action="/update-system-mode-off">
    <input type="submit" value="Off" />
</form>
<form action="/update-system-mode-auto">
  <input type="submit" value="Automatic" />
</form>
</center>
  <br>
  <br>
  <h3> Heating parameter limits: </h3>
  <p>
    <p> Minimum value: {{data.minTempValue}} &deg Celsius </p>
    <p> Maximum value: {{data.maxTempValue}} &deg Celsius </p> 
    
  </p> 
  <h3>Change heating parameter limits:</h3>
    <form method="post" action="/update-temp-limits/">
        <center>
        <label for="minTemp">Minimum temperature value:</label><br>
        <input type="text" id="minTemp" name="minTemp"><br>
        <label for="maxTemp">Maximum temperature value:</label><br>
        <input type="text" id="maxTemp" name="maxTemp"><br><br>
        <input type="submit" value="Submit">
        </center>
    </form> 

    <h3> Limits for battery operation: </h3>
  <p>
    <p> Minimum value: {{data.minBatteryValue}} mV</p>
    <p> Maximum value: {{data.maxBatteryValue}} mV </p> 
    
  </p> 
    <h3>Change battery limits:</h3>
    <form method="post" action="/update-battery-limits">
        <center>
        <label for="minTemp">Minimum battery value:</label><br>
        <input type="text" id="minBattery" name="minBattery"><br>
        <label for="maxTemp">Maximum battery value:</label><br>
        <input type="text" id="maxBattery" name="maxBattery"><br><br>
        <input type="submit" value="Submit">
        </center>
    </form> 

    <h3> Limits for photovoltaic panel operation: </h3>
    <p>
      <p> Minimum value: {{data.minPanelValue}} mV</p>
      
    </p> 
      <h3>Change photovoltaic panel limits:</h3>
      <form method="post" action="/update-panel-limits">
          <center>
          <label for="minTemp">Minimum photovoltaic panel value:</label><br>
          <input type="text" id="minPanel" name="minPanel"><br>
          <input type="submit" value="Submit">
          </center>
      </form> 
</p>
</body>
</html>
